@font-face { /*@font-face lo que hace es espeficiar una fuente y la url donde encontrarla*/

  font-family: 'icomoon';
  src:  url('icomoon.eot?pdjg81');
  src:  url('icomoon.eot?pdjg81#iefix') format('embedded-opentype'),
    url('https://github.com/CarlosSeijo/archivosBlog/blob/master/blog/iconos/fonts/icomoon.ttf?pdjg81') format('truetype'),
    url('https://cdn.rawgit.com/CarlosSeijo/archivosBlog/61f8a815/blog/iconos/fonts/icomoon.woff?pdjg81') format('woff'),
    url('icomoon.svg?pdjg81#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] { /*selecciona todos los elementos cuya clase empieza por "icon-" + todos los que contienen como atributo "test"*/

  /* use !important to prevent issues with browser extensions that change fonts */

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #3b5998;
}
.icon-gmail:before {
  content: "\e901";
  color: #d14836;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-mailru:before {
  content: "\e903";
  color: #168de2;
}
.icon-twitter:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-flickr2:before {
  content: "\eaa4";
}
